
.welcomePage-main-container {
/*    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 35% 20% 20% 20%;
    justify-content: center;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    /*background-image: url("https://images.pexels.com/photos/4068317/pexels-photo-4068317.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");*/
    background-image: url("./background-login-page-1.jpg");
    /*background-image: url("https://images.pexels.com/photos/2565222/pexels-photo-2565222.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.9;
}

.logo-container {
    /*color: black;*/
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 2.5%;
    text-shadow: 1px 4px 3px black;

    background-color: #1e26245e;
    width: auto;
    border-radius: 5%;

}

.welcomePage-title {
    font-size: 350%;
    font-family: 'Playfair Display', serif;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair Display', serif;

}
.label-login-input {
    color: white;
    font-size: 130%;
    text-shadow: 2px 2px 1px black;

    align-self: flex-start;
    margin-bottom: 4.5%;
    margin-top: 5%;
    position: relative;
    right: 15%;

    background-color: #1e26245e;
    width: auto;
    border-radius: 5%;

}
.login-input {
    width: 60%;
    height: 35px;
    margin-bottom: 5%;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow:5px 5px 0px black;
    background-color: white;
    transition: height 0.5s;
}

.login-input:hover {
    height: 50px;
    transition: height 0.5s;
}

.login-submit-button {
    background-color: #eceaea;
    height: 40px;
    width: 130px;
    margin-top: 5%;
    text-align: center;
    border: 2px solid #030303;
    border-radius: 7px;
    font-size: 100%;
    font-family: 'Playfair Display', serif;
    transition: height 0.5s;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.login-submit-button:hover {
    transition: height 0.5s;
    border: solid white;
    height: 48px;
    background-color: #ffe10e;
}

.username-required-error {
    color: black;
    background-color: #ffff006b;
    width: auto;
    border-radius: 10px;
    padding: 3%;
    text-align: center;
}
.password-required-error {
    color: white;
    background-color: #ee1f1fb3;
    width: auto;
    border-radius: 10px;
    padding: 3%;
    text-align: center;
}

.login-invalid-credentials-icon {
    font-size: 200%;
    color: yellow;
    background-color: black;
    border-radius: 50%;
    margin-top: 4%;
}

.login-invalid-credentials-message {
    margin-top: 4%;
    margin-bottom: 5%;
    background-color: #aaacac5e;
    width: auto;
    border-radius: 5%;
}


.login-server-error-icon {
    font-size: 180%;
    margin-top: 4%;
    margin-bottom: 4%;
    color: red;

}

.login-server-error-message {
    margin-bottom: 5%;
    background-color: #aaacac5e;
    width: auto;
    border-radius: 5%;
}

.welcomePage-buttons {
    display: flex;
    margin-top: 10%;
    width: 8em;
    height: 2em;
    cursor: pointer;
    border: 5px solid red;

}

.login-button-welcome-page {
    background-color: #bc8a8a;
    color: white;
    border-style: none;
    border-radius: 10%;
    font-size: 17px;
    width: 100px;
    height: 40px;
}


@media only screen and (max-width: 1499px) {

    .logo-container {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1e26245e;
        width: auto;
        border-radius: 5%;
    }

    .welcomePage-title {
        font-size: 295%;
        font-family: 'Playfair Display', serif;
    }
    .login-form-main-container {
        margin-top: 5%;
    }


    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Playfair Display', serif;
        text-shadow: 0px 0px 1px black;

    }
    .label-login-input {
        background-color: #1e26245e;
        width: auto;
        border-radius: 5%;

    }
    .login-input {
        width: 120%;
        height: 35px;
        margin-bottom: 5%;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow:5px 5px 0px black;
        background-color: white;
        transition: height 0.5s;
        font-size: 100%;

    }

    .login-input:hover {
        height: 50px;
        transition: height 0.5s;
    }

    .login-submit-button:hover {
        transition: height 0.5s;
        border: solid white;
        height: 48px;
        background-color: #ffe10e;
    }
}

@media only screen and (min-width: 1500px) {

    .login-input {
        font-size: 100%;
        width: 150%;
    }

    .label-login-input {
        right: 25%;
    }
}



