.delete-product-view-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.delete-view-title {
    font-size: 150% !important;
    margin-top: 5% !important;
    padding-bottom: 1% !important;
}
.delete-product-form input {
    width: 150px;
    align-self: center;
    margin-top: 2%;
}

.delete-product-view-id-label {
    font-family: 'Playfair Display', serif;
    margin-top: 1%;
}

.delete-product-form {
    text-align: center;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.delete-product-delete-button {
    margin-top: 3%;
    margin-bottom: 4%;
}


.delete-product-server-error-icon {
    color: red;
    font-size: 150%;
    margin-top: 2%;
    margin-bottom: 0%;
}

.delete-product-server-error-message {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 1%;
}

.spinner-delete-product {
    margin-top: 1%;
}


@media only screen and (max-width: 1499px) {
    .delete-view-title {
        margin-bottom: 4% !important;
        font-size: 150% !important;
    }

    .delete-product-view-product-card-container {
        width: 70%;
        position: relative;
        left: 4%;
        margin-top: 4%;
        margin-bottom: 4%;

    }
    .spinner-delete-product {
        margin-top: 0%;
    }
}

@media only screen and (min-width: 1500px) {
    .delete-view-title {
        margin-top: 1% !important;
        font-size: 300% !important;
        margin-bottom: 2% !important;
    }
    .delete-product-form {
        width: 50%;
    }
    .delete-product-form input {
        width: 35%;
    }
    .delete-product-delete-button{
        width: 40%;
    }
    .delete-product-view-product-card-container {
        width: 90%;
        position: relative;
        left: 50%;
        transform: translateX(-40%);
    }
    .delete-product-view-product-card-container img {
    }
    .spinner-delete-product {
        margin-top: 2%;
    }



}