

@media only screen and (max-width: 1499px) {

}

.spinner-get-garment-by-id {
    align-self: center;
    margin-top: 3%;
}

.edit-product-view-id-not-found {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 3%;
    font-weight: 550;
    font-size: large;
}


.form-edit-button {
    background-color: #eceaea;
    height: 40px;
    width: 225px;
    margin-top: 5%;
    text-align: center;
    border: 4px solid #030303;
    border-radius: 10px;
    font-size: 100%;
    font-family: 'Playfair Display', serif;
    transition: height 0.6s;
    align-self: center;
    cursor: pointer;

}
.form-edit-button:hover {
    transition: height 0.6s;
    border: 5px solid white;
    height: 60px;
    background-color: #ffe10e;
}

.get-garment-by-server-error-icon {
    align-self: center;
    color: red;
    font-size: 200%;
    margin-top: 2%;
    margin-bottom: 0%;
}

.get-garment-by-server-error-message {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 1%;
}

.id-required-message {
    font-family: 'Playfair Display', serif;
    text-align: center;
    align-self: center;
    margin-top: 3%;
    width: 70%;
    border: 1px solid #f2ef0e6b;
    background-color: #f2ef0e6b;
    border-radius: 10px;
    font-size: 120%;


}
